In [9]:
import pandas as pd
df=pd.read_csv(r"C:\Users\ML\Documents\audible_uncleaned.csv")
df

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Writtenby:ChrisStewart,Narratedby:ChrisStewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00
87485,The Alps,Writtenby:StephenO'Shea,Narratedby:RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00
87487,A Sentimental Journey,Writtenby:LaurenceSterne,Narratedby:AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00

In [10]:
df.dtypes

name           object
author         object
narrator       object
time           object
releasedate    object
language       object
stars          object
price          object
dtype: object

In [11]:
df.describe

<bound method NDFrame.describe of                                              name                     author  \
0                      Geronimo Stilton #11 & #12  Writtenby:GeronimoStilton
1                                The Burning Maze      Writtenby:RickRiordan
2                                    The Deep End       Writtenby:JeffKinney
3                            Daughter of the Deep      Writtenby:RickRiordan
4      The Lightning Thief: Percy Jackson, Book 1      Writtenby:RickRiordan
...                                           ...                        ...
87484                   Last Days of the Bus Club     Writtenby:ChrisStewart
87485                                    The Alps    Writtenby:StephenO'Shea
87486                        The Innocents Abroad        Writtenby:MarkTwain
87487                       A Sentimental Journey   Writtenby:LaurenceSterne
87488                                      Havana    Writtenby:MarkKurlansky

                        narrator                time releasedate language  \
0          Narratedby:BillLobely   2 hrs and 20 mins    04-08-08  English
1       Narratedby:RobbieDaymond   13 hrs and 8 mins    01-05-18  English
2          Narratedby:DanRussell    2 hrs and 3 mins    06-11-20  English
3      Narratedby:SoneelaNankani  11 hrs and 16 mins    05-10-21  English
4      Narratedby:JesseBernstein              10 hrs    13-01-10  English
...                          ...                 ...         ...      ...
87484    Narratedby:ChrisStewart   7 hrs and 34 mins    09-03-17  English
87485      Narratedby:RobertFass   10 hrs and 7 mins    21-02-17  English
87486       Narratedby:FloGibson   19 hrs and 4 mins    30-12-16  English
87487     Narratedby:AntonLesser    4 hrs and 8 mins    23-02-11  English
87488     Narratedby:FleetCooper     6 hrs and 1 min    07-03-17  English

                               stars   price
0         5 out of 5 stars34 ratings  468.00
1       4.5 out of 5 stars41 ratings  820.00
2       4.5 out of 5 stars38 ratings  410.00
3       4.5 out of 5 stars12 ratings  615.00
4      4.5 out of 5 stars181 ratings  820.00
...                              ...     ...
87484                  Not rated yet  596.00
87485                  Not rated yet  820.00
87486                  Not rated yet  938.00
87487                  Not rated yet  680.00
87488                  Not rated yet  569.00

[87489 rows x 8 columns]>

In [14]:
df['releasedate']=pd.to_datetime(df['releasedate'], format='%Y-%m-%d',errors="coerce")

In [15]:
df

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,2008-04-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,2018-01-05,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,2020-06-11,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,2021-05-10,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,2010-01-13,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Writtenby:ChrisStewart,Narratedby:ChrisStewart,7 hrs and 34 mins,2017-09-03,English,Not rated yet,596.00
87485,The Alps,Writtenby:StephenO'Shea,Narratedby:RobertFass,10 hrs and 7 mins,2017-02-21,English,Not rated yet,820.00
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,19 hrs and 4 mins,2016-12-30,English,Not rated yet,938.00
87487,A Sentimental Journey,Writtenby:LaurenceSterne,Narratedby:AntonLesser,4 hrs and 8 mins,2011-02-23,English,Not rated yet,680.00
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,6 hrs and 1 min,2017-07-03,English,Not rated yet,569.00

In [16]:
df.dtypes

name                   object
author                 object
narrator               object
time                   object
releasedate    datetime64[ns]
language               object
stars                  object
price                  object
dtype: object

In [17]:
df['time']=df['time'].replace({"hrs":"hours","mins":"minutes","and":" "},regex=True)

In [18]:
df

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hours 20 minutes,2008-04-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hours 8 minutes,2018-01-05,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hours 3 minutes,2020-06-11,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hours 16 minutes,2021-05-10,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hours,2010-01-13,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Writtenby:ChrisStewart,Narratedby:ChrisStewart,7 hours 34 minutes,2017-09-03,English,Not rated yet,596.00
87485,The Alps,Writtenby:StephenO'Shea,Narratedby:RobertFass,10 hours 7 minutes,2017-02-21,English,Not rated yet,820.00
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,19 hours 4 minutes,2016-12-30,English,Not rated yet,938.00
87487,A Sentimental Journey,Writtenby:LaurenceSterne,Narratedby:AntonLesser,4 hours 8 minutes,2011-02-23,English,Not rated yet,680.00
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,6 hours 1 min,2017-07-03,English,Not rated yet,569.00

In [19]:
df['time']=pd.to_timedelta(df['time'],errors="coerce")
df

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,0 days 02:20:00,2008-04-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,0 days 13:08:00,2018-01-05,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,0 days 02:03:00,2020-06-11,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,0 days 11:16:00,2021-05-10,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,0 days 10:00:00,2010-01-13,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Writtenby:ChrisStewart,Narratedby:ChrisStewart,0 days 07:34:00,2017-09-03,English,Not rated yet,596.00
87485,The Alps,Writtenby:StephenO'Shea,Narratedby:RobertFass,0 days 10:07:00,2017-02-21,English,Not rated yet,820.00
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,0 days 19:04:00,2016-12-30,English,Not rated yet,938.00
87487,A Sentimental Journey,Writtenby:LaurenceSterne,Narratedby:AntonLesser,0 days 04:08:00,2011-02-23,English,Not rated yet,680.00
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,0 days 06:01:00,2017-07-03,English,Not rated yet,569.00

In [20]:
df.dtypes

name                    object
author                  object
narrator                object
time           timedelta64[ns]
releasedate     datetime64[ns]
language                object
stars                   object
price                   object
dtype: object

In [21]:
df['price'] = pd.to_numeric(df['price'],errors="coerce")
df

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,0 days 02:20:00,2008-04-08,English,5 out of 5 stars34 ratings,468.0
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,0 days 13:08:00,2018-01-05,English,4.5 out of 5 stars41 ratings,820.0
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,0 days 02:03:00,2020-06-11,English,4.5 out of 5 stars38 ratings,410.0
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,0 days 11:16:00,2021-05-10,English,4.5 out of 5 stars12 ratings,615.0
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,0 days 10:00:00,2010-01-13,English,4.5 out of 5 stars181 ratings,820.0
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Writtenby:ChrisStewart,Narratedby:ChrisStewart,0 days 07:34:00,2017-09-03,English,Not rated yet,596.0
87485,The Alps,Writtenby:StephenO'Shea,Narratedby:RobertFass,0 days 10:07:00,2017-02-21,English,Not rated yet,820.0
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,0 days 19:04:00,2016-12-30,English,Not rated yet,938.0
87487,A Sentimental Journey,Writtenby:LaurenceSterne,Narratedby:AntonLesser,0 days 04:08:00,2011-02-23,English,Not rated yet,680.0
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,0 days 06:01:00,2017-07-03,English,Not rated yet,569.0

In [22]:
df.dtypes

name                    object
author                  object
narrator                object
time           timedelta64[ns]
releasedate     datetime64[ns]
language                object
stars                   object
price                  float64
dtype: object

In [23]:
df.isnull().sum()

name              0
author            0
narrator          0
time             61
releasedate       0
language          0
stars             0
price          9474
dtype: int64

In [24]:
df.columns[df.isnull().all(axis=0)]

Index([], dtype='object')

In [25]:
df.index[df.isnull().all(axis=1)]

Index([], dtype='int64')

In [26]:
df.columns[df.isnull().mean(axis=0)>0.5]

Index([], dtype='object')

In [27]:
df.index[df.isnull().mean(axis=1)>0.5]

Index([], dtype='int64')

In [28]:
df.columns.tolist()

['name',
 'author',
 'narrator',
 'time',
 'releasedate',
 'language',
 'stars',
 'price']

In [29]:
df=df.rename(columns={"releasedate":"release_date","stars":"rating_text"})
df

,name,author,narrator,time,release_date,language,rating_text,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,0 days 02:20:00,2008-04-08,English,5 out of 5 stars34 ratings,468.0
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,0 days 13:08:00,2018-01-05,English,4.5 out of 5 stars41 ratings,820.0
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,0 days 02:03:00,2020-06-11,English,4.5 out of 5 stars38 ratings,410.0
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,0 days 11:16:00,2021-05-10,English,4.5 out of 5 stars12 ratings,615.0
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,0 days 10:00:00,2010-01-13,English,4.5 out of 5 stars181 ratings,820.0
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Writtenby:ChrisStewart,Narratedby:ChrisStewart,0 days 07:34:00,2017-09-03,English,Not rated yet,596.0
87485,The Alps,Writtenby:StephenO'Shea,Narratedby:RobertFass,0 days 10:07:00,2017-02-21,English,Not rated yet,820.0
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,0 days 19:04:00,2016-12-30,English,Not rated yet,938.0
87487,A Sentimental Journey,Writtenby:LaurenceSterne,Narratedby:AntonLesser,0 days 04:08:00,2011-02-23,English,Not rated yet,680.0
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,0 days 06:01:00,2017-07-03,English,Not rated yet,569.0

In [30]:
if df["release_date"].isnull().any():
    print("Inconsistent formats found:")
else:
    print("All dates are consistent")

All dates are consistent

In [31]:
df["release_date"].dt.year

0        2008
1        2018
2        2020
3        2021
4        2010
         ...
87484    2017
87485    2017
87486    2016
87487    2011
87488    2017
Name: release_date, Length: 87489, dtype: int32

In [32]:
df["release_date"].dt.month

0         4
1         1
2         6
3         5
4         1
         ..
87484     9
87485     2
87486    12
87487     2
87488     7
Name: release_date, Length: 87489, dtype: int32

In [33]:
df["release_date"].dt.day

0         8
1         5
2        11
3        10
4        13
         ..
87484     3
87485    21
87486    30
87487    23
87488     3
Name: release_date, Length: 87489, dtype: int32

In [34]:
df["release_date"].dt.day_name()

0          Tuesday
1           Friday
2         Thursday
3           Monday
4        Wednesday
           ...
87484       Sunday
87485      Tuesday
87486       Friday
87487    Wednesday
87488       Monday
Name: release_date, Length: 87489, dtype: object

In [35]:
if df["release_date"].isna().any():
    print("Invalid dates (month > 12 or day > 31) found!")
else:
    print("All months and days are valid")

All months and days are valid

In [36]:
if (df["release_date"].dt.month>12).any():
    print("Invalid months")
else:
    print("Valid months")

Valid months

In [37]:
if (df["release_date"].dt.day>31).any():
    print("Invalid day")
else:
    print("Valid day")

Valid day

In [38]:
df = df.replace(["", "NA", "None", "-", "n/a"], pd.NA)
df

,name,author,narrator,time,release_date,language,rating_text,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,0 days 02:20:00,2008-04-08,English,5 out of 5 stars34 ratings,468.0
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,0 days 13:08:00,2018-01-05,English,4.5 out of 5 stars41 ratings,820.0
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,0 days 02:03:00,2020-06-11,English,4.5 out of 5 stars38 ratings,410.0
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,0 days 11:16:00,2021-05-10,English,4.5 out of 5 stars12 ratings,615.0
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,0 days 10:00:00,2010-01-13,English,4.5 out of 5 stars181 ratings,820.0
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Writtenby:ChrisStewart,Narratedby:ChrisStewart,0 days 07:34:00,2017-09-03,English,Not rated yet,596.0
87485,The Alps,Writtenby:StephenO'Shea,Narratedby:RobertFass,0 days 10:07:00,2017-02-21,English,Not rated yet,820.0
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,0 days 19:04:00,2016-12-30,English,Not rated yet,938.0
87487,A Sentimental Journey,Writtenby:LaurenceSterne,Narratedby:AntonLesser,0 days 04:08:00,2011-02-23,English,Not rated yet,680.0
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,0 days 06:01:00,2017-07-03,English,Not rated yet,569.0

In [39]:
df["release_year"]=df["release_date"].dt.year
df

,name,author,narrator,time,release_date,language,rating_text,price,release_year
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,0 days 02:20:00,2008-04-08,English,5 out of 5 stars34 ratings,468.0,2008
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,0 days 13:08:00,2018-01-05,English,4.5 out of 5 stars41 ratings,820.0,2018
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,0 days 02:03:00,2020-06-11,English,4.5 out of 5 stars38 ratings,410.0,2020
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,0 days 11:16:00,2021-05-10,English,4.5 out of 5 stars12 ratings,615.0,2021
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,0 days 10:00:00,2010-01-13,English,4.5 out of 5 stars181 ratings,820.0,2010
...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Writtenby:ChrisStewart,Narratedby:ChrisStewart,0 days 07:34:00,2017-09-03,English,Not rated yet,596.0,2017
87485,The Alps,Writtenby:StephenO'Shea,Narratedby:RobertFass,0 days 10:07:00,2017-02-21,English,Not rated yet,820.0,2017
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,0 days 19:04:00,2016-12-30,English,Not rated yet,938.0,2016
87487,A Sentimental Journey,Writtenby:LaurenceSterne,Narratedby:AntonLesser,0 days 04:08:00,2011-02-23,English,Not rated yet,680.0,2011
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,0 days 06:01:00,2017-07-03,English,Not rated yet,569.0,2017

In [40]:
df.isnull().sum()

name               0
author             0
narrator           0
time              61
release_date       0
language           0
rating_text        0
price           9474
release_year       0
dtype: int64

In [41]:
df.groupby("release_year")["author"].apply(lambda x: x.isna().sum())

release_year
1998    0
1999    0
2000    0
2001    0
2002    0
2003    0
2004    0
2005    0
2006    0
2007    0
2008    0
2009    0
2010    0
2011    0
2012    0
2013    0
2014    0
2015    0
2016    0
2017    0
2018    0
2019    0
2020    0
2021    0
2022    0
2023    0
2024    0
2025    0
Name: author, dtype: int64

In [42]:
df.isnull().sum()

name               0
author             0
narrator           0
time              61
release_date       0
language           0
rating_text        0
price           9474
release_year       0
dtype: int64

In [43]:
df["price"]=df["price"].fillna(df["price"].median())
df["price"]

0        468.0
1        820.0
2        410.0
3        615.0
4        820.0
         ...
87484    596.0
87485    820.0
87486    938.0
87487    680.0
87488    569.0
Name: price, Length: 87489, dtype: float64

In [44]:
df["author"]=df["author"].fillna("unknown")
df["author"]

0        Writtenby:GeronimoStilton
1            Writtenby:RickRiordan
2             Writtenby:JeffKinney
3            Writtenby:RickRiordan
4            Writtenby:RickRiordan
                   ...
87484       Writtenby:ChrisStewart
87485      Writtenby:StephenO'Shea
87486          Writtenby:MarkTwain
87487     Writtenby:LaurenceSterne
87488      Writtenby:MarkKurlansky
Name: author, Length: 87489, dtype: object

In [45]:
df["release_date"]=df["release_date"].ffill()
df["release_date"]

0       2008-04-08
1       2018-01-05
2       2020-06-11
3       2021-05-10
4       2010-01-13
           ...
87484   2017-09-03
87485   2017-02-21
87486   2016-12-30
87487   2011-02-23
87488   2017-07-03
Name: release_date, Length: 87489, dtype: datetime64[ns]

In [46]:
df["release_date"]=df["release_date"].bfill()
df["release_date"]

0       2008-04-08
1       2018-01-05
2       2020-06-11
3       2021-05-10
4       2010-01-13
           ...
87484   2017-09-03
87485   2017-02-21
87486   2016-12-30
87487   2011-02-23
87488   2017-07-03
Name: release_date, Length: 87489, dtype: datetime64[ns]

In [47]:
df.dtypes

name                     object
author                   object
narrator                 object
time            timedelta64[ns]
release_date     datetime64[ns]
language                 object
rating_text              object
price                   float64
release_year              int32
dtype: object

In [48]:
df["time"]=df["time"].fillna(df["time"].median())
df["time"]

0       0 days 02:20:00
1       0 days 13:08:00
2       0 days 02:03:00
3       0 days 11:16:00
4       0 days 10:00:00
              ...
87484   0 days 07:34:00
87485   0 days 10:07:00
87486   0 days 19:04:00
87487   0 days 04:08:00
87488   0 days 06:01:00
Name: time, Length: 87489, dtype: timedelta64[ns]

In [49]:
df.isnull().sum()

name            0
author          0
narrator        0
time            0
release_date    0
language        0
rating_text     0
price           0
release_year    0
dtype: int64

In [50]:
df.dtypes

name                     object
author                   object
narrator                 object
time            timedelta64[ns]
release_date     datetime64[ns]
language                 object
rating_text              object
price                   float64
release_year              int32
dtype: object

In [51]:
df[["author","narrator"]]=df[["author","narrator"]].replace({
    "Writtenby:":" ",
    "Narratedby:":" "
},regex=True) 
df[["author","narrator"]]

                 author         narrator
0       GeronimoStilton       BillLobely
1           RickRiordan    RobbieDaymond
2            JeffKinney       DanRussell
3           RickRiordan   SoneelaNankani
4           RickRiordan   JesseBernstein
...                 ...              ...
87484      ChrisStewart     ChrisStewart
87485     StephenO'Shea       RobertFass
87486         MarkTwain        FloGibson
87487    LaurenceSterne      AntonLesser
87488     MarkKurlansky      FleetCooper

[87489 rows x 2 columns]

In [52]:
df[["title","subtitle"]]=df["name"].str.split(":",n=1,expand=True)
df[["title","subtitle"]]

                            title                subtitle
0      Geronimo Stilton #11 & #12                    None
1                The Burning Maze                    None
2                    The Deep End                    None
3            Daughter of the Deep                    None
4             The Lightning Thief   Percy Jackson, Book 1
...                           ...                     ...
87484   Last Days of the Bus Club                    None
87485                    The Alps                    None
87486        The Innocents Abroad                    None
87487       A Sentimental Journey                    None
87488                      Havana                    None

[87489 rows x 2 columns]

In [53]:
df[["series_name","book_number"]]=df["name"].str.split("#",n=1,expand=True)
df[["series_name","book_number"]]

                                      series_name book_number
0                               Geronimo Stilton     11 & #12
1                                The Burning Maze        None
2                                    The Deep End        None
3                            Daughter of the Deep        None
4      The Lightning Thief: Percy Jackson, Book 1        None
...                                           ...         ...
87484                   Last Days of the Bus Club        None
87485                                    The Alps        None
87486                        The Innocents Abroad        None
87487                       A Sentimental Journey        None
87488                                      Havana        None

[87489 rows x 2 columns]

In [54]:
df.dtypes

name                     object
author                   object
narrator                 object
time            timedelta64[ns]
release_date     datetime64[ns]
language                 object
rating_text              object
price                   float64
release_year              int32
title                    object
subtitle                 object
series_name              object
book_number              object
dtype: object

In [55]:
df['duration_minutes'] = df['time'].dt.total_seconds() / 60
df['duration_minutes']

0         140.0
1         788.0
2         123.0
3         676.0
4         600.0
          ...
87484     454.0
87485     607.0
87486    1144.0
87487     248.0
87488     361.0
Name: duration_minutes, Length: 87489, dtype: float64

In [56]:
df

,name,author,narrator,time,release_date,language,rating_text,price,release_year,title,subtitle,series_name,book_number,duration_minutes
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,0 days 02:20:00,2008-04-08,English,5 out of 5 stars34 ratings,468.0,2008,Geronimo Stilton #11 & #12,None,Geronimo Stilton,11 & #12,140.0
1,The Burning Maze,RickRiordan,RobbieDaymond,0 days 13:08:00,2018-01-05,English,4.5 out of 5 stars41 ratings,820.0,2018,The Burning Maze,None,The Burning Maze,None,788.0
2,The Deep End,JeffKinney,DanRussell,0 days 02:03:00,2020-06-11,English,4.5 out of 5 stars38 ratings,410.0,2020,The Deep End,None,The Deep End,None,123.0
3,Daughter of the Deep,RickRiordan,SoneelaNankani,0 days 11:16:00,2021-05-10,English,4.5 out of 5 stars12 ratings,615.0,2021,Daughter of the Deep,None,Daughter of the Deep,None,676.0
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,0 days 10:00:00,2010-01-13,English,4.5 out of 5 stars181 ratings,820.0,2010,The Lightning Thief,"Percy Jackson, Book 1","The Lightning Thief: Percy Jackson, Book 1",None,600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,ChrisStewart,ChrisStewart,0 days 07:34:00,2017-09-03,English,Not rated yet,596.0,2017,Last Days of the Bus Club,None,Last Days of the Bus Club,None,454.0
87485,The Alps,StephenO'Shea,RobertFass,0 days 10:07:00,2017-02-21,English,Not rated yet,820.0,2017,The Alps,None,The Alps,None,607.0
87486,The Innocents Abroad,MarkTwain,FloGibson,0 days 19:04:00,2016-12-30,English,Not rated yet,938.0,2016,The Innocents Abroad,None,The Innocents Abroad,None,1144.0
87487,A Sentimental Journey,LaurenceSterne,AntonLesser,0 days 04:08:00,2011-02-23,English,Not rated yet,680.0,2011,A Sentimental Journey,None,A Sentimental Journey,None,248.0
87488,Havana,MarkKurlansky,FleetCooper,0 days 06:01:00,2017-07-03,English,Not rated yet,569.0,2017,Havana,None,Havana,None,361.0

In [57]:
df.dtypes

name                         object
author                       object
narrator                     object
time                timedelta64[ns]
release_date         datetime64[ns]
language                     object
rating_text                  object
price                       float64
release_year                  int32
title                        object
subtitle                     object
series_name                  object
book_number                  object
duration_minutes            float64
dtype: object

In [58]:
df['rating'] = pd.to_numeric(df['rating_text'].str.extract(r'(\d+\.?\d*)')[0], errors='coerce')

# Extract last number as number of ratings
df['num_ratings'] = pd.to_numeric(df['rating_text'].str.findall(r'\d+').str[-1], errors='coerce')

df

,name,author,narrator,time,release_date,language,rating_text,price,release_year,title,subtitle,series_name,book_number,duration_minutes,rating,num_ratings
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,0 days 02:20:00,2008-04-08,English,5 out of 5 stars34 ratings,468.0,2008,Geronimo Stilton #11 & #12,None,Geronimo Stilton,11 & #12,140.0,5.0,34.0
1,The Burning Maze,RickRiordan,RobbieDaymond,0 days 13:08:00,2018-01-05,English,4.5 out of 5 stars41 ratings,820.0,2018,The Burning Maze,None,The Burning Maze,None,788.0,4.5,41.0
2,The Deep End,JeffKinney,DanRussell,0 days 02:03:00,2020-06-11,English,4.5 out of 5 stars38 ratings,410.0,2020,The Deep End,None,The Deep End,None,123.0,4.5,38.0
3,Daughter of the Deep,RickRiordan,SoneelaNankani,0 days 11:16:00,2021-05-10,English,4.5 out of 5 stars12 ratings,615.0,2021,Daughter of the Deep,None,Daughter of the Deep,None,676.0,4.5,12.0
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,0 days 10:00:00,2010-01-13,English,4.5 out of 5 stars181 ratings,820.0,2010,The Lightning Thief,"Percy Jackson, Book 1","The Lightning Thief: Percy Jackson, Book 1",None,600.0,4.5,181.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,ChrisStewart,ChrisStewart,0 days 07:34:00,2017-09-03,English,Not rated yet,596.0,2017,Last Days of the Bus Club,None,Last Days of the Bus Club,None,454.0,NaN,NaN
87485,The Alps,StephenO'Shea,RobertFass,0 days 10:07:00,2017-02-21,English,Not rated yet,820.0,2017,The Alps,None,The Alps,None,607.0,NaN,NaN
87486,The Innocents Abroad,MarkTwain,FloGibson,0 days 19:04:00,2016-12-30,English,Not rated yet,938.0,2016,The Innocents Abroad,None,The Innocents Abroad,None,1144.0,NaN,NaN
87487,A Sentimental Journey,LaurenceSterne,AntonLesser,0 days 04:08:00,2011-02-23,English,Not rated yet,680.0,2011,A Sentimental Journey,None,A Sentimental Journey,None,248.0,NaN,NaN
87488,Havana,MarkKurlansky,FleetCooper,0 days 06:01:00,2017-07-03,English,Not rated yet,569.0,2017,Havana,None,Havana,None,361.0,NaN,NaN

In [60]:
# Select all text columns
text_cols = df.select_dtypes(include="object").columns

for col in text_cols:
    has_issues = (
        df[col].str.startswith(" ") |
        df[col].str.endswith(" ") |
        df[col].str.contains(r"\s{2,}")
    )
    if has_issues.any():   # If any row has the issue
        print(f"Column '{col}' has whitespace problems in {has_issues.sum()} rows")

Column 'name' has whitespace problems in 32 rows
Column 'author' has whitespace problems in 87489 rows
Column 'narrator' has whitespace problems in 87489 rows
Column 'title' has whitespace problems in 43 rows
Column 'subtitle' has whitespace problems in 4102 rows
Column 'series_name' has whitespace problems in 72 rows
Column 'book_number' has whitespace problems in 5 rows

In [63]:
# Select all text columns
text_cols = df.select_dtypes(include='object').columns

# Clean text columns: trim leading/trailing spaces and fix extra internal spaces
df[text_cols] = df[text_cols].apply(lambda x: x.astype(str).str.strip().str.split().str.join(' '))

# Check for any remaining extra spaces
columns_with_spaces = df[text_cols].apply(lambda x: x.str.contains('  ')).any()
print(columns_with_spaces[columns_with_spaces].index.tolist())

[]

In [64]:
# Select the columns to standardize
cols_to_standardize = ['language', 'author', 'narrator']

# Convert all text to title case
df[cols_to_standardize] = df[cols_to_standardize].apply(lambda x: x.astype(str).str.lower())
df

,name,author,narrator,time,release_date,language,rating_text,price,release_year,title,subtitle,series_name,book_number,duration_minutes,rating,num_ratings
0,Geronimo Stilton #11 & #12,geronimostilton,billlobely,0 days 02:20:00,2008-04-08,english,5 out of 5 stars34 ratings,468.0,2008,Geronimo Stilton #11 & #12,None,Geronimo Stilton,11 & #12,140.0,5.0,34.0
1,The Burning Maze,rickriordan,robbiedaymond,0 days 13:08:00,2018-01-05,english,4.5 out of 5 stars41 ratings,820.0,2018,The Burning Maze,None,The Burning Maze,None,788.0,4.5,41.0
2,The Deep End,jeffkinney,danrussell,0 days 02:03:00,2020-06-11,english,4.5 out of 5 stars38 ratings,410.0,2020,The Deep End,None,The Deep End,None,123.0,4.5,38.0
3,Daughter of the Deep,rickriordan,soneelanankani,0 days 11:16:00,2021-05-10,english,4.5 out of 5 stars12 ratings,615.0,2021,Daughter of the Deep,None,Daughter of the Deep,None,676.0,4.5,12.0
4,"The Lightning Thief: Percy Jackson, Book 1",rickriordan,jessebernstein,0 days 10:00:00,2010-01-13,english,4.5 out of 5 stars181 ratings,820.0,2010,The Lightning Thief,"Percy Jackson, Book 1","The Lightning Thief: Percy Jackson, Book 1",None,600.0,4.5,181.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,chrisstewart,chrisstewart,0 days 07:34:00,2017-09-03,english,Not rated yet,596.0,2017,Last Days of the Bus Club,None,Last Days of the Bus Club,None,454.0,NaN,NaN
87485,The Alps,stepheno'shea,robertfass,0 days 10:07:00,2017-02-21,english,Not rated yet,820.0,2017,The Alps,None,The Alps,None,607.0,NaN,NaN
87486,The Innocents Abroad,marktwain,flogibson,0 days 19:04:00,2016-12-30,english,Not rated yet,938.0,2016,The Innocents Abroad,None,The Innocents Abroad,None,1144.0,NaN,NaN
87487,A Sentimental Journey,laurencesterne,antonlesser,0 days 04:08:00,2011-02-23,english,Not rated yet,680.0,2011,A Sentimental Journey,None,A Sentimental Journey,None,248.0,NaN,NaN
87488,Havana,markkurlansky,fleetcooper,0 days 06:01:00,2017-07-03,english,Not rated yet,569.0,2017,Havana,None,Havana,None,361.0,NaN,NaN

In [65]:
import string
# Select text columns
text_cols = df.select_dtypes(include='object').columns

# Remove all punctuation from text columns
df[text_cols] = df[text_cols].apply(lambda x: x.astype(str).str.translate(str.maketrans('', '', string.punctuation)))
df

,name,author,narrator,time,release_date,language,rating_text,price,release_year,title,subtitle,series_name,book_number,duration_minutes,rating,num_ratings
0,Geronimo Stilton 11 12,geronimostilton,billlobely,0 days 02:20:00,2008-04-08,english,5 out of 5 stars34 ratings,468.0,2008,Geronimo Stilton 11 12,None,Geronimo Stilton,11 12,140.0,5.0,34.0
1,The Burning Maze,rickriordan,robbiedaymond,0 days 13:08:00,2018-01-05,english,45 out of 5 stars41 ratings,820.0,2018,The Burning Maze,None,The Burning Maze,None,788.0,4.5,41.0
2,The Deep End,jeffkinney,danrussell,0 days 02:03:00,2020-06-11,english,45 out of 5 stars38 ratings,410.0,2020,The Deep End,None,The Deep End,None,123.0,4.5,38.0
3,Daughter of the Deep,rickriordan,soneelanankani,0 days 11:16:00,2021-05-10,english,45 out of 5 stars12 ratings,615.0,2021,Daughter of the Deep,None,Daughter of the Deep,None,676.0,4.5,12.0
4,The Lightning Thief Percy Jackson Book 1,rickriordan,jessebernstein,0 days 10:00:00,2010-01-13,english,45 out of 5 stars181 ratings,820.0,2010,The Lightning Thief,Percy Jackson Book 1,The Lightning Thief Percy Jackson Book 1,None,600.0,4.5,181.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,chrisstewart,chrisstewart,0 days 07:34:00,2017-09-03,english,Not rated yet,596.0,2017,Last Days of the Bus Club,None,Last Days of the Bus Club,None,454.0,NaN,NaN
87485,The Alps,stephenoshea,robertfass,0 days 10:07:00,2017-02-21,english,Not rated yet,820.0,2017,The Alps,None,The Alps,None,607.0,NaN,NaN
87486,The Innocents Abroad,marktwain,flogibson,0 days 19:04:00,2016-12-30,english,Not rated yet,938.0,2016,The Innocents Abroad,None,The Innocents Abroad,None,1144.0,NaN,NaN
87487,A Sentimental Journey,laurencesterne,antonlesser,0 days 04:08:00,2011-02-23,english,Not rated yet,680.0,2011,A Sentimental Journey,None,A Sentimental Journey,None,248.0,NaN,NaN
87488,Havana,markkurlansky,fleetcooper,0 days 06:01:00,2017-07-03,english,Not rated yet,569.0,2017,Havana,None,Havana,None,361.0,NaN,NaN

In [66]:
# Select all text columns
cols_to_correct = df.select_dtypes(include='object').columns

# Apply trimming and title casing to all text columns
for col in cols_to_correct:
    df[col] = df[col].astype(str).str.strip().str.title()
df

,name,author,narrator,time,release_date,language,rating_text,price,release_year,title,subtitle,series_name,book_number,duration_minutes,rating,num_ratings
0,Geronimo Stilton 11 12,Geronimostilton,Billlobely,0 days 02:20:00,2008-04-08,English,5 Out Of 5 Stars34 Ratings,468.0,2008,Geronimo Stilton 11 12,None,Geronimo Stilton,11 12,140.0,5.0,34.0
1,The Burning Maze,Rickriordan,Robbiedaymond,0 days 13:08:00,2018-01-05,English,45 Out Of 5 Stars41 Ratings,820.0,2018,The Burning Maze,None,The Burning Maze,None,788.0,4.5,41.0
2,The Deep End,Jeffkinney,Danrussell,0 days 02:03:00,2020-06-11,English,45 Out Of 5 Stars38 Ratings,410.0,2020,The Deep End,None,The Deep End,None,123.0,4.5,38.0
3,Daughter Of The Deep,Rickriordan,Soneelanankani,0 days 11:16:00,2021-05-10,English,45 Out Of 5 Stars12 Ratings,615.0,2021,Daughter Of The Deep,None,Daughter Of The Deep,None,676.0,4.5,12.0
4,The Lightning Thief Percy Jackson Book 1,Rickriordan,Jessebernstein,0 days 10:00:00,2010-01-13,English,45 Out Of 5 Stars181 Ratings,820.0,2010,The Lightning Thief,Percy Jackson Book 1,The Lightning Thief Percy Jackson Book 1,None,600.0,4.5,181.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87484,Last Days Of The Bus Club,Chrisstewart,Chrisstewart,0 days 07:34:00,2017-09-03,English,Not Rated Yet,596.0,2017,Last Days Of The Bus Club,None,Last Days Of The Bus Club,None,454.0,NaN,NaN
87485,The Alps,Stephenoshea,Robertfass,0 days 10:07:00,2017-02-21,English,Not Rated Yet,820.0,2017,The Alps,None,The Alps,None,607.0,NaN,NaN
87486,The Innocents Abroad,Marktwain,Flogibson,0 days 19:04:00,2016-12-30,English,Not Rated Yet,938.0,2016,The Innocents Abroad,None,The Innocents Abroad,None,1144.0,NaN,NaN
87487,A Sentimental Journey,Laurencesterne,Antonlesser,0 days 04:08:00,2011-02-23,English,Not Rated Yet,680.0,2011,A Sentimental Journey,None,A Sentimental Journey,None,248.0,NaN,NaN
87488,Havana,Markkurlansky,Fleetcooper,0 days 06:01:00,2017-07-03,English,Not Rated Yet,569.0,2017,Havana,None,Havana,None,361.0,NaN,NaN

In [67]:
df.dtypes

name                         object
author                       object
narrator                     object
time                timedelta64[ns]
release_date         datetime64[ns]
language                     object
rating_text                  object
price                       float64
release_year                  int32
title                        object
subtitle                     object
series_name                  object
book_number                  object
duration_minutes            float64
rating                      float64
num_ratings                 float64
dtype: object

In [68]:
# Check data type of price column
if df['price'].dtype == 'object':
    # If price is string, remove currency symbols and commas, then convert to float
    df['price'] = df['price'].replace({'\$':'', ',':''}, regex=True).astype(float)
    print("Price converted from string to float.")
else:
    # If already numeric
    print("Price is already numeric.")

Price is already numeric.

In [69]:
# Example column: 'price'
# Step 1: Check if column is numeric
if df['price'].dtype == 'object':
    # Remove non-numeric characters except decimal point
    df['price'] = df['price'].replace(r'[^0-9.]', '', regex=True).astype(float)
    print("Non-numeric characters removed and converted to float.")
else:
    print("Column is already numeric.")

Column is already numeric.

In [70]:
# Check and convert rating
df['rating'] = pd.to_numeric(df['rating'], errors='coerce')  # invalid â†’ NaN

# Check and convert rating_count
df['num_ratings'] = pd.to_numeric(df['num_ratings'], errors='coerce')  # invalid â†’ NaN

# Optional: fill missing or invalid values
df['rating'] = df['rating'].fillna(0)          # or use mean/median
df['num_ratings'] = df['num_ratings'].fillna(0).astype(int)  # or leave as NaN

# Check for any remaining non-numeric values
print(df[['rating','num_ratings']].isna().sum())

rating         0
num_ratings    0
dtype: int64

In [71]:
text_cols = ['author', 'narrator']

for col in text_cols:
    df[col] = df[col].astype(str).str.strip().str.title()  # Trim and title case
for col in text_cols:
    df[col] = df[col].apply(lambda x: ' '.join(x.split(', ')[::-1]) if ',' in x else x)

In [72]:
df

,name,author,narrator,time,release_date,language,rating_text,price,release_year,title,subtitle,series_name,book_number,duration_minutes,rating,num_ratings
0,Geronimo Stilton 11 12,Geronimostilton,Billlobely,0 days 02:20:00,2008-04-08,English,5 Out Of 5 Stars34 Ratings,468.0,2008,Geronimo Stilton 11 12,None,Geronimo Stilton,11 12,140.0,5.0,34
1,The Burning Maze,Rickriordan,Robbiedaymond,0 days 13:08:00,2018-01-05,English,45 Out Of 5 Stars41 Ratings,820.0,2018,The Burning Maze,None,The Burning Maze,None,788.0,4.5,41
2,The Deep End,Jeffkinney,Danrussell,0 days 02:03:00,2020-06-11,English,45 Out Of 5 Stars38 Ratings,410.0,2020,The Deep End,None,The Deep End,None,123.0,4.5,38
3,Daughter Of The Deep,Rickriordan,Soneelanankani,0 days 11:16:00,2021-05-10,English,45 Out Of 5 Stars12 Ratings,615.0,2021,Daughter Of The Deep,None,Daughter Of The Deep,None,676.0,4.5,12
4,The Lightning Thief Percy Jackson Book 1,Rickriordan,Jessebernstein,0 days 10:00:00,2010-01-13,English,45 Out Of 5 Stars181 Ratings,820.0,2010,The Lightning Thief,Percy Jackson Book 1,The Lightning Thief Percy Jackson Book 1,None,600.0,4.5,181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87484,Last Days Of The Bus Club,Chrisstewart,Chrisstewart,0 days 07:34:00,2017-09-03,English,Not Rated Yet,596.0,2017,Last Days Of The Bus Club,None,Last Days Of The Bus Club,None,454.0,0.0,0
87485,The Alps,Stephenoshea,Robertfass,0 days 10:07:00,2017-02-21,English,Not Rated Yet,820.0,2017,The Alps,None,The Alps,None,607.0,0.0,0
87486,The Innocents Abroad,Marktwain,Flogibson,0 days 19:04:00,2016-12-30,English,Not Rated Yet,938.0,2016,The Innocents Abroad,None,The Innocents Abroad,None,1144.0,0.0,0
87487,A Sentimental Journey,Laurencesterne,Antonlesser,0 days 04:08:00,2011-02-23,English,Not Rated Yet,680.0,2011,A Sentimental Journey,None,A Sentimental Journey,None,248.0,0.0,0
87488,Havana,Markkurlansky,Fleetcooper,0 days 06:01:00,2017-07-03,English,Not Rated Yet,569.0,2017,Havana,None,Havana,None,361.0,0.0,0

In [73]:
num_duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {num_duplicates}")
duplicate_rows = df[df.duplicated()]
duplicate_rows

Number of duplicate rows: 1

,name,author,narrator,time,release_date,language,rating_text,price,release_year,title,subtitle,series_name,book_number,duration_minutes,rating,num_ratings
3541,I Columbus,Peterroopconnieroop,Patgrimes,0 days 00:49:00,2016-08-16,English,Not Rated Yet,501.0,2016,I Columbus,None,I Columbus,None,49.0,0.0,0

In [74]:
df = df.drop_duplicates()

In [75]:
num_duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {num_duplicates}")

Number of duplicate rows: 0

In [77]:
df.loc[:, 'title_norm'] = df['title'].astype(str).str.strip().str.lower()
df.loc[:, 'author_norm'] = df['author'].astype(str).str.strip().str.lower()

near_duplicates = df[df.duplicated(subset=['title_norm','author_norm'], keep=False)]
near_duplicates

,name,author,narrator,time,release_date,language,rating_text,price,release_year,title,subtitle,series_name,book_number,duration_minutes,rating,num_ratings,title_norm,author_norm
4,The Lightning Thief Percy Jackson Book 1,Rickriordan,Jessebernstein,0 days 10:00:00,2010-01-13,English,45 Out Of 5 Stars181 Ratings,820.0,2010,The Lightning Thief,Percy Jackson Book 1,The Lightning Thief Percy Jackson Book 1,None,600.0,4.5,181,the lightning thief,rickriordan
8,Merlin Mission Collection,Marypopeosborne,Marypopeosborne,0 days 10:56:00,2017-02-05,English,5 Out Of 5 Stars5 Ratings,501.0,2017,Merlin Mission Collection,None,Merlin Mission Collection,None,656.0,5.0,5,merlin mission collection,marypopeosborne
11,Magic Tree House Collection Books 916,Marypopeosborne,Marypopeosborne,0 days 05:23:00,2011-08-24,English,5 Out Of 5 Stars6 Ratings,501.0,2011,Magic Tree House Collection,Books 916,Magic Tree House Collection Books 916,None,323.0,5.0,6,magic tree house collection,marypopeosborne
12,Magic Tree House Collection Books 18,Marypopeosborne,Marypopeosborne,0 days 06:01:00,2011-09-27,English,5 Out Of 5 Stars7 Ratings,501.0,2011,Magic Tree House Collection,Books 18,Magic Tree House Collection Books 18,None,361.0,5.0,7,magic tree house collection,marypopeosborne
16,Magic Tree House Collection,Marypopeosborne,Marypopeosborne,0 days 05:04:00,2004-12-26,English,5 Out Of 5 Stars7 Ratings,501.0,2004,Magic Tree House Collection,None,Magic Tree House Collection,None,304.0,5.0,7,magic tree house collection,marypopeosborne
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87258,Tee And Tour,Teetour,Kevinyoung,0 days 01:49:00,2004-06-30,English,Not Rated Yet,585.0,2004,Tee And Tour,None,Tee And Tour,None,109.0,0.0,0,tee and tour,teetour
87347,The Great Psychedelic Armadillo Picnic,Kinkyfriedman,Kinkyfriedman,0 days 02:14:00,2004-08-10,English,Not Rated Yet,500.0,2004,The Great Psychedelic Armadillo Picnic,None,The Great Psychedelic Armadillo Picnic,None,134.0,0.0,0,the great psychedelic armadillo picnic,kinkyfriedman
87443,Travels With A Donkey In The Cevennes,Robertlouisstevenson,Denislawson,0 days 02:51:00,2008-05-13,English,Not Rated Yet,569.0,2008,Travels With A Donkey In The Cevennes,None,Travels With A Donkey In The Cevennes,None,171.0,0.0,0,travels with a donkey in the cevennes,robertlouisstevenson
87479,Dear Bob And Sue,Mattsmithkarensmith,Davidcolaccisusanericksen,0 days 14:48:00,2017-12-26,English,Not Rated Yet,501.0,2017,Dear Bob And Sue,None,Dear Bob And Sue,None,888.0,0.0,0,dear bob and sue,mattsmithkarensmith
87486,The Innocents Abroad,Marktwain,Flogibson,0 days 19:04:00,2016-12-30,English,Not Rated Yet,938.0,2016,The Innocents Abroad,None,The Innocents Abroad,None,1144.0,0.0,0,the innocents abroad,marktwain

In [78]:
df = df.drop_duplicates(subset=['title_norm','author_norm'], keep='first')

In [79]:
df

,name,author,narrator,time,release_date,language,rating_text,price,release_year,title,subtitle,series_name,book_number,duration_minutes,rating,num_ratings,title_norm,author_norm
0,Geronimo Stilton 11 12,Geronimostilton,Billlobely,0 days 02:20:00,2008-04-08,English,5 Out Of 5 Stars34 Ratings,468.0,2008,Geronimo Stilton 11 12,None,Geronimo Stilton,11 12,140.0,5.0,34,geronimo stilton 11 12,geronimostilton
1,The Burning Maze,Rickriordan,Robbiedaymond,0 days 13:08:00,2018-01-05,English,45 Out Of 5 Stars41 Ratings,820.0,2018,The Burning Maze,None,The Burning Maze,None,788.0,4.5,41,the burning maze,rickriordan
2,The Deep End,Jeffkinney,Danrussell,0 days 02:03:00,2020-06-11,English,45 Out Of 5 Stars38 Ratings,410.0,2020,The Deep End,None,The Deep End,None,123.0,4.5,38,the deep end,jeffkinney
3,Daughter Of The Deep,Rickriordan,Soneelanankani,0 days 11:16:00,2021-05-10,English,45 Out Of 5 Stars12 Ratings,615.0,2021,Daughter Of The Deep,None,Daughter Of The Deep,None,676.0,4.5,12,daughter of the deep,rickriordan
4,The Lightning Thief Percy Jackson Book 1,Rickriordan,Jessebernstein,0 days 10:00:00,2010-01-13,English,45 Out Of 5 Stars181 Ratings,820.0,2010,The Lightning Thief,Percy Jackson Book 1,The Lightning Thief Percy Jackson Book 1,None,600.0,4.5,181,the lightning thief,rickriordan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87483,We Stood Upon Stars,Rogerwthompson,Johnmclain,0 days 05:55:00,2017-02-05,English,Not Rated Yet,351.0,2017,We Stood Upon Stars,None,We Stood Upon Stars,None,355.0,0.0,0,we stood upon stars,rogerwthompson
87484,Last Days Of The Bus Club,Chrisstewart,Chrisstewart,0 days 07:34:00,2017-09-03,English,Not Rated Yet,596.0,2017,Last Days Of The Bus Club,None,Last Days Of The Bus Club,None,454.0,0.0,0,last days of the bus club,chrisstewart
87485,The Alps,Stephenoshea,Robertfass,0 days 10:07:00,2017-02-21,English,Not Rated Yet,820.0,2017,The Alps,None,The Alps,None,607.0,0.0,0,the alps,stephenoshea
87487,A Sentimental Journey,Laurencesterne,Antonlesser,0 days 04:08:00,2011-02-23,English,Not Rated Yet,680.0,2011,A Sentimental Journey,None,A Sentimental Journey,None,248.0,0.0,0,a sentimental journey,laurencesterne
87488,Havana,Markkurlansky,Fleetcooper,0 days 06:01:00,2017-07-03,English,Not Rated Yet,569.0,2017,Havana,None,Havana,None,361.0,0.0,0,havana,markkurlansky

In [80]:
df['title_norm'] = df['title_norm'].str.replace(r'[^\w\s]', '', regex=True)  # remove punctuation
df['title_norm']

0          geronimo stilton 11  12
1                 the burning maze
2                     the deep end
3             daughter of the deep
4              the lightning thief
                   ...
87483          we stood upon stars
87484    last days of the bus club
87485                     the alps
87487        a sentimental journey
87488                       havana
Name: title_norm, Length: 85026, dtype: object

In [81]:
df

,name,author,narrator,time,release_date,language,rating_text,price,release_year,title,subtitle,series_name,book_number,duration_minutes,rating,num_ratings,title_norm,author_norm
0,Geronimo Stilton 11 12,Geronimostilton,Billlobely,0 days 02:20:00,2008-04-08,English,5 Out Of 5 Stars34 Ratings,468.0,2008,Geronimo Stilton 11 12,None,Geronimo Stilton,11 12,140.0,5.0,34,geronimo stilton 11 12,geronimostilton
1,The Burning Maze,Rickriordan,Robbiedaymond,0 days 13:08:00,2018-01-05,English,45 Out Of 5 Stars41 Ratings,820.0,2018,The Burning Maze,None,The Burning Maze,None,788.0,4.5,41,the burning maze,rickriordan
2,The Deep End,Jeffkinney,Danrussell,0 days 02:03:00,2020-06-11,English,45 Out Of 5 Stars38 Ratings,410.0,2020,The Deep End,None,The Deep End,None,123.0,4.5,38,the deep end,jeffkinney
3,Daughter Of The Deep,Rickriordan,Soneelanankani,0 days 11:16:00,2021-05-10,English,45 Out Of 5 Stars12 Ratings,615.0,2021,Daughter Of The Deep,None,Daughter Of The Deep,None,676.0,4.5,12,daughter of the deep,rickriordan
4,The Lightning Thief Percy Jackson Book 1,Rickriordan,Jessebernstein,0 days 10:00:00,2010-01-13,English,45 Out Of 5 Stars181 Ratings,820.0,2010,The Lightning Thief,Percy Jackson Book 1,The Lightning Thief Percy Jackson Book 1,None,600.0,4.5,181,the lightning thief,rickriordan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87483,We Stood Upon Stars,Rogerwthompson,Johnmclain,0 days 05:55:00,2017-02-05,English,Not Rated Yet,351.0,2017,We Stood Upon Stars,None,We Stood Upon Stars,None,355.0,0.0,0,we stood upon stars,rogerwthompson
87484,Last Days Of The Bus Club,Chrisstewart,Chrisstewart,0 days 07:34:00,2017-09-03,English,Not Rated Yet,596.0,2017,Last Days Of The Bus Club,None,Last Days Of The Bus Club,None,454.0,0.0,0,last days of the bus club,chrisstewart
87485,The Alps,Stephenoshea,Robertfass,0 days 10:07:00,2017-02-21,English,Not Rated Yet,820.0,2017,The Alps,None,The Alps,None,607.0,0.0,0,the alps,stephenoshea
87487,A Sentimental Journey,Laurencesterne,Antonlesser,0 days 04:08:00,2011-02-23,English,Not Rated Yet,680.0,2011,A Sentimental Journey,None,A Sentimental Journey,None,248.0,0.0,0,a sentimental journey,laurencesterne
87488,Havana,Markkurlansky,Fleetcooper,0 days 06:01:00,2017-07-03,English,Not Rated Yet,569.0,2017,Havana,None,Havana,None,361.0,0.0,0,havana,markkurlansky