In [5]:
i=5
j=1
while j<=10:
    print(i, "x", j, "=", i*j)
    j+=1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [37]:
n=3
r=1
while n>=1:
    r=r*n
    n-=1
    print(r)

3
6
6

In [18]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [20]:
i=4
j=1
for j in range(1,11):
    print(i ,"x",j,"=", i*j)

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [28]:
for i in range(50,40,-1):
    print(i)

50
49
48
47
46
45
44
43
42
41

In [38]:
for i in range(1,50):
    if (i%3==0 and i%5==0) or( i%3==0) :
        print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [51]:
n=int(input("Enter n: "))
r=1
for n in range(n,1,-1):
    r*=n
    print(r)

Enter n:  5

5
20
60
120

In [4]:
square=lambda x:x**2;
print(square(10))

100

In [5]:
divide=lambda x,y:x/y;
print(divide(4,2))

2.0

In [34]:
marks=lambda x:"passed"if x>=40 and x==100 or x>=40 else "failed";
print(marks(85))

passed

In [31]:
def add(x,y):
     return x+y;
num=lambda x,y:add(x,y)+5
print(num(1,4))

10

In [35]:
tab=lambda x,y:divide(x,y);
print(tab(4,2))

2.0

In [52]:
# division error
n1=int(input("Enter a  number: "))
n2=int(input("Enter a number: "))
try:
     a=4/n1
     a=2/n2
except:
    if n1==0 or n2==0:
         print("not divisible")
finally:
    print("Done")

Enter a  number:  1
Enter a number:  0

not divisible
Done

In [57]:
# type error
try:
    n=int(input("Enter a number:"))
    if n%2==0:
        print("even")
    else:
        print("odd")
except:
     print("Enter a integer")
finally:
     print("Done")

Enter a number: 5

odd
Done

In [9]:
#index error
n=int(input("Enter a number:"))
try:
    lst = [1,2,3,4]
    print(lst)
    print(lst[n])
except:
    print("IndexError: List index out of range")
finally:
    print("Done")

Enter a number: 5

[1, 2, 3, 4]
IndexError: List index out of range
Done

In [7]:
# value error
try:
    v=int(input("Enter a value:"))
except:
    print("Enter a number")
finally:
    print("Done")

Enter a value: y

Enter a number
Done

In [8]:
# 3. KeyError
try:
    my_dict = {"Ali": 1,"saba":2,"bisma":3}
    print(my_dict["age"])
except:
    print("KeyError: Key does not exist in dictionary")
finally:
    print("Done")

KeyError: Key does not exist in dictionary
Done

In [11]:
# name error
a=10
b=30
sum=a+b
try:
    print(sum)
    print(y)
except:
    print("variable does not exist")
finally:
    print("Done")

variable does not exist
Done

In [12]:
try:
    n=int(input("Enter a number"))
    print (n)
except:
    print("overflow")
finally:
    print("Done")

Enter a number 12345e56789*10*40

overflow
Done

In [26]:
a="Hello-World"
print(a[2:7])

a="Hello-World"
print(a[:])

llo-W
Hello-World

In [33]:
a="Hello-World"
print(a[::-1])

roW-olleH

In [21]:
a="1234"
print(a[:])

1234

In [22]:
a="1234"
print(a[::-1])

4321

In [25]:
a="1234"
print(a[:-1])

123

print.upper()

In [27]:
a.upper()

'HELLO-WORLD'

In [28]:
a.lower()

'hello-world'

In [31]:
a.capitalize()

'Hello-world'

In [32]:
n=input("enter: ")

enter:  AmIna

In [36]:
b="PYTHON"
print(b[-4::-1])

TYP

In [37]:
a.join("beautiful")

'bHello-WorldeHello-WorldaHello-WorlduHello-WorldtHello-WorldiHello-WorldfHello-WorlduHello-Worldl'

In [45]:
a.replace("H","r")

'rello-World'

In [52]:
a.split()

['Hello-World']

In [50]:
x= "how are you"
x.split()

['how', 'are', 'you']

In [55]:
x.strip()

'how are you'

In [1]:
class Car:
    def say_brand(self):
        return "Toyota"

c1 = Car()
print(c1.say_brand())

Toyota

In [2]:
class Student:
    def get_name(self):
        return "Ali"

s1 = Student()
print(s1.get_name())

Ali

In [3]:
class Calculator:
    def add(self, a, b):
        return a + b

calc = Calculator()
print(calc.add(5, 3))

8

In [4]:
class Car:
    def __init__(self, brand):   
        self.brand = brand      

    def say_brand(self):         
        return f"My car is {self.brand}"

c1 = Car("Toyota")
c2 = Car("Honda")

print(c1.say_brand())  
print(c2.say_brand())

My car is Toyota
My car is Honda

In [5]:
class Calculator:
    def __init__(self, a, b):
        self.a = a
        self.b = b

    def add(self):
        return self.a + self.b

    def multiply(self):
        return self.a * self.b

calc = Calculator(5, 3)
print("Add:", calc.add())          
print("Multiply:", calc.multiply())

Add: 8
Multiply: 15

In [44]:
class Student:
    def __init__(self, entry_number, name, Eng, Phy, Math):
        self.entry_number = entry_number    
        self.__name = name                 
        self.Eng = Eng                      
        self.Phy = Phy                      
        self.Math = Math                    

    def calculate_percentage(self):
        return (self.Eng + self.Phy + self.Math) / 3

    def assign_grade(self):
        percentage = self.calculate_percentage()
        if percentage >= 80:
            return "A"
        elif percentage >= 60:
            return "B"
        elif percentage >= 40:
            return "C"
        else:
            return "Fail"

    def show_details(self):
        print("Entry Number:", self.entry_number) 
        print("Name:", self.__name)               
        print("Marks:", self.Eng, self.Phy, self.Math)
        print("Percentage:", self.calculate_percentage())
        print("Grade:", self.assign_grade())
s1 = Student("CS-101", "Ali", 80, 70, 90)
s1.show_details()
s1.calculate_percentage()
s1.assign_grade()

Entry Number: CS-101
Name: Ali
Marks: 80 70 90
Percentage: 80.0
Grade: A

'A'

In [3]:
a="Hello worls"
a.append()

AttributeError: 'str' object has no attribute 'append'